/*Значения размеров высоты текста (так как в задании текст в виде линий):*/
.theme_size_default {
--text-size-s: 8px;
--text-size-m: 10px;
--text-size-l: 11px;
--text-size-xl: 13px;
--text-size-xxl: 16px.
}

/*Значения межстрочных интервалов:*/
.theme_size_default{
--line-spacing-s: 21px;
--line-spacing-m: 25px;
--line-spacing-l: 28px;
--line-spacing-xl: 34px;
--line-spacing-xxl: 38px.
}
