.onoffswitch{
    height: 32px;
    width: 97px;
    
    -webkit-appearance: none;
    width: 97px;
    height: 32px;
   
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    
    border-width: 2px;
    
}



.onoffswitch::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: var(--background-border-color);
    cursor: pointer;
}