


.onoffswitch{
    height: 32px;
    width: 97px;
    
    -webkit-appearance: none;
    width: 97px;
    height: 32px;
   
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    
    border: 2px solid var(--background-border-color); /*var(--background-border-color);*/
    
}



.onoffswitch::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #000; /*var(--background-border-color);*/
    cursor: pointer;
}

