.theme_color_project-inverse {
	--background-default-color: #000000;
    --background-accent-color: #FFFFFF;
	--background-border-color: #FFFFFF; 

}



.theme_color_project-inverse {
	--text_primary_color: #FFFFFF;
    --text_secondory-color: rgba(255, 255, 255, 0.6);
    --text_additional-color: rgba(255, 255, 255, 0.3);
    --text_link-color: #0077ff;
}


