.theme_color_project-warning {
	--background-default-color: #ff3333;
    --background-accent-color: #FFFFFF;
	--background-border-color: #ff3333; 

}



.theme_color_project-warning {
	--text_primary_color: #FFFFFF;
    --text_secondory-color: rgba(255, 255, 255, 0.6);
    --text_additional-color: rgba(255, 255, 255, 0.3);
    --text_link-color: #FFF;
}

