.theme_color_project-default {
	--background-default-color: #FFFFFF;
    --background-accent-color: #ffcc00;
	--background-border-color: #000000; 

}



.theme_color_project-default {
	--text_primary_color: #000000;
    --text_secondory-color: rgba(0, 0, 0, 0.6);
    --text_additional-color: rgba(0, 0, 0, 0.3);
    --text_link-color: #0077ff;
}




