.theme_color_project-warning {
	--background-default-color: #ff3333;
    --background-accent-color: #FFFFFF;
	--background-border-color: #ff3333; 

}



.theme_color_project-warning {
	--primary_color: #FFFFFF;
    --secondory-color: rgba(255, 255, 255, 0.6);
    --ghost-color: rgba(255, 255, 255, 0.3);
    --link-color: #FFF;
}

