.theme_color_project-default {
	--background-default-color: #FFFFFF;
    --background-accent-color: #ffcc00;
	--background-border-color: #000000; 
    
    background-color: var(--background-default-color);
    border-color: var(--background-border-color);

}



.theme_color_project-default {
	--primary_color: #000000;
    --secondory-color: rgba(0, 0, 0, 0.6);
    --ghost-color: rgba(0, 0, 0, 0.3);
    --link-color: #0077ff;
}

.theme_color_project-default{
    --background-img-color: #000;
    --border-img-color:#fff;
    --url_img: url(../../../img/image-placeholder-inverse.svg);
}


