.theme_color_project-brand {
	--background-default-color: #0077ff;
    --background-accent-color: #FFFFFF;
	--background-border-color: #FFFFFF; 
    
    background-color: var(--background-default-color);
    border-color: var(--background-border-color);

}



.theme_color_project-brand {
	--primary_color: #FFFFFF;
    --secondory-color:rgba(255, 255, 255, 0.6);
    --ghost-color: rgba(255, 255, 255, 0.3);
    --link-color: #FFFFFF;
}


.theme_color_project-brand{
    --background-img-color: #FFFFFF;
    --border-img-color:#000;
    --url_img: url(../../../img/image-placeholder-inverse.svg);
}

