.image {
    width: 100%;
    height: 160px;
    background-color: var(--background-img-color);
    background-image:var(--url_img); 
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid var(--border-img-color);
    
}